# Ignore temporary files and intermediate compiled files
*.c~
*.o
*.a
Makefile~
.gitignore~

# Ignore individual binary files
~/evandouglass/a1/hello
~/evandouglass/a2/slowsort
~/evandouglass/a2/fastsort
