# Ignore temporary files and intermediate compiled files
*.c~
*.h~
*.sh~
*.o
*.a
Makefile~
.gitignore~

# Ignore the Python linting file
./bin/

# Ignore individual binary files and folders
a1/hello
a2/slowsort
a2/fastsort
a3/pointers
a3/a3
a4/deck
a4/a4
a4/test
a5/bits
a5/matrix
a5/list
a6/solution_binaries
a6/test_suite
